.landing-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.landing-title {
  font-family: Lato;
  font-weight: 800;
  font-size: 25pt;
  padding-top: 20pt;
  text-align: center;
}

.landing-subtitle {
  font-family: Lato;
  font-style: italic;
  font-weight: 400;
  font-size: 18pt;
  text-align: center;
}

.landing-description {
  font-family: Lato;
  font-weight: 400;
  font-size: 13pt;
  text-align: center;
  padding-top: 10pt;
}

.landing-image {
  width: 300px;
  display: flex;
  align-self: center;
}

.landing-button {
  background-color: white;
  font-weight: 600;
  font-size: 15pt;
  margin-top: 30pt;
  padding: 5pt;
  border: solid 2px;
  align-self: center;
  margin-left: 20pt;
  user-select: none;
}

.submit-button {
  background-color: white;
  font-weight: 600;
  font-size: 15pt;
  margin-top: 30pt;
  padding: 5pt;
  border: solid 2px;
  align-self: center;
  margin-left: 20pt;
  user-select: none;
  position: absolute;
  right: 40px;
  top: 0px;
}
